      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">MIKE</h1>
          <button class="button button-clear button-primary" ng-click="closeModal2()">Cancel</button>
         </ion-header-bar>

          <ion-content class="padding">
            <div>
              <img src="./img/ben.png" alt="" width="20%" style="float:left;">
          
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet reiciendis, voluptatibus expedita nemo corrupti debitis hic, placeat libero ea distinctio similique quam beatae maiores nisi. Dolor aperiam delectus mollitia iste.</p>

              <button class="button button-full button-positive" ng-click="closeModal2()">OK</button>
            </div>
          </ion-content>

          
      </ion-modal-view>