<ion-view view-title="Dashboard">
  <ion-content class="padding">
   <div class="row">
      <div class="col col-50 col-offset-25">

          <img src="img/adam.jpg" alt="" width="20%">

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem laudantium magnam doloremque iure nisi itaque enim deleniti, inventore odit consectetur ipsam, maxime obcaecati totam dolorem, velit consequuntur unde placeat est.lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt consequatur nesciunt dolor libero odio inventore ipsum distinctio veniam, eos facilis harum excepturi voluptatem vel autem sequi, culpa, totam eligendi placeat! </p>

          <input type="submit" value="button" ng-click="openModal()">

          <input type="submit" value="test" ng-click="openModal2()">

          <a class="button button-full button-positive" ui-sref="mike">TestMike</a>

          <p>
          <!-- fait appel au  $scope.MikeMike = "test" dans controllers;-->
          {{MikeMike}}

         </p>          
      
      </div>
    </div>
  </ion-content>
</ion-view>
